<launch>
    <!-- Change to command.lauch required arguments relative to robot joints-->
    <arg name="child_frame" default="base"/>
    <arg name="parent_frame" default="map"/>

    <node pkg="publish_b1_tf" type="joint_command" name="publish_b1_command"/>

    <param name="child_frame" value="$(arg child_frame)"/>
    <param name="parent_frame" value="$(arg parent_frame)"/>

    <arg name="user_debug" default="false"/>
  
    <!-- Load B1 URDF that specifes transforms and physical appearans -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find b1_description)/xacro/robot.xacro' DEBUG:=$(arg user_debug)"/>

    <!-- Publish robot_description loaded from URDF -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node> -->

    <!-- Publish robot_description loaded from URDF -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_command_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="fake_map" args="0 0 0 0 0 0 /map /base 100"/>
    <node pkg="tf" type="static_transform_publisher" name="fake_base" args="0 0 0 0 0 0 /base /trunk 100"/>

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find publish_b1_tf)/rviz/dog.rviz" />

</launch>