<launch>
    <arg name="child_frame" default="base"/>
    <arg name="parent_frame" default="map"/>

    <node pkg="publish_b1_tf" type="publish" name="publish_b1_tf"/>

    <param name="child_frame" value="$(arg child_frame)"/>
    <param name="parent_frame" value="$(arg parent_frame)"/>

    <arg name="user_debug" default="false"/>
  
    <!-- Load B1 URDF that specifes transforms and physical appearans -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find b1_description)/xacro/robot.xacro' DEBUG:=$(arg user_debug)"/>

    <!-- Publish robot_description loaded from URDF -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="camera1" args="0 0 0 0 0 -1.57 /head_camera_1_link /nx1_camera_forward_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera2" args="0 0 0 0 1.57 -1.57 /head_camera_2_link /nx1_camera_down_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera3" args="0 0 0 1.57 0 -1.57 /left_side_camera_link /nx2_camera_left_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera4" args="0 0 0 -1.57 0 -1.57 /right_side_camera_link /nx2_camera_right_link 100"/>
    <node pkg="tf" type="static_transform_publisher" name="camera5" args="0 0 0 0 1.57 -1.57 /tail_camera_link /nx3_camera_backward_link 100"/>

</launch>